aniso8601==4.0.1
Click==7.0
Flask==1.0.2
Flask-Cors==3.0.7
Flask-RESTful==0.3.6
gunicorn==19.6.0
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
Pillow==5.3.0
python-dotenv==0.9.1
pytz==2018.7
six==1.11.0
SQLAlchemy==1.2.14
Werkzeug==0.14.1
flask-sqlalchemy==2.3.2
envparse==0.2.0
psycopg2==2.7.6.1
names==0.3.0


